In [3]:
import pandas as pd

pd.set_option('display.max_columns', None)      # show all columns
pd.set_option('display.width', None)            # stop line wrapping
pd.set_option('display.max_colwidth', 80)       # limit huge text columns
pd.set_option('display.expand_frame_repr', False) 

df = pd.read_csv("super_dirty_students.csv")
print(df.head())

   student_id            name     age  gender   score                   phone              city                 email date_of_join        course attendance    status   gpa        remarks money_spent           event_time                                                address_raw                                                                     profile_json
0           1  Claudia Short      20      NaN     NaN     +1-619-379-4152x102         Katieland      someonegmail.com   1662247364  Data Science        NaN    active  3.72           good        $135           1629312830   Apartment 37, South Kevin district, Tashkent, UZ, 100539  {'hobbies': ['gun', 'nice'], 'skills': {'tech': {'python': 2, 'excel': 5, 's...
1           2             NaN     20   Female  ninety                     NaN         Dawnburgh     psmith@chen.com     2017/08/29  Data Science        NaN    active  1.88      excellent        $152  11/10/2001 04:19 AM                          UZ 100332 Tashkent South Patricia                                                    {hobbies:['against', 'good']}
2           3  Kathryn Moyer      20      NaN  ninety                     NaN  Lake Stevenmouth                   NaN   2017-08-14  DATA SCIENCE        NaN   pending   NaN    excellent         185.0           1657837622                          Wendyshire 12-kv, dom 1, Tashkent  {'hobbies': ['fast', 'clearly'], 'skills': {'tech': {'python': 5, 'excel': 3...
3           4    Ruben Wilson  twenty   fmale      81                     NaN   Port Pamelafort               special   1973-09-17   data-sciens        NaN  inactive     0           good     175 USD           1682795130  Apartment 16, North Tamara district, Tashkent, UZ, 100097  {'hobbies': ['left', 'role'], 'skills': {'tech': {'python': 3, 'excel': 5, '...
4           5   Robert Pruitt      20  Female     NaN  001-182-659-5631x02803         Kingburgh                   six   2023/11/25  data_sciense        NaN   pending  4.37        average        $282           2013-10-13                                     BROKEN,ADDRESS,DATA,,,  {'hobbies': ['sort', 'science'], 'skills': {'tech': {'python': 1, 'excel': 4...